.main-header{
  border: 1px solid #dee2e6;
  border-radius: 20px;
}

.video-container{
  border: 1px solid #dee2e6;
  border-radius: 20px;
}

.link{
  color: green;
}

.profile-wrapper{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* background-color: green; */
  overflow: hidden;
  display: inline-block;

}
.profile-img{
  width: 50px;
  height: 50px;
}
.module-detail{
  display: inline-block;
  /* width: calc( 100% - 51px);   */
  position: absolute;
  top: 20px;
}

.card-title{
  color: red;
}
.card-name{
  color: #007bff;
}

.duration{
  margin-right: 20px;
    float: right;
}

.play-container{
  /* background-color: red;
  height: 40px;
  width: 60px;
  border-radius: 20px; */
  position: absolute;
  top: 47%;
  left: 47%;
}

.video-wrapper{
  position: relative;
}
.previous-button{
  position: absolute;
  top: 47%;
  left: 0px;
  background-color: red;
}
.next-button{
  position: absolute;
  top: 47%;
  right: 0px;
  background-color: red;
  /* visibility: hidden; */
}

.image-wrapper{
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: auto;
  box-shadow: 0px 0px 4px 5px #ccc;
}
.panel-image{
  width: 100%;
  height: 100px;
}
.expert-name{
  color: #007bff;
}
.expert-qualification{
  color: red;
}
.cursor-class{
  cursor: pointer;
}
/* .next-button:hover{
  visibility: unset !important;
  background-color: red;;
} */
